.filters {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 252px;
    margin-right: 20px;
}

.filtersTitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}